.box {
  text-align: center;
  background-color: lightgray;
  height: 925px;
}
.dayLight {
  background-color: yellow;
}
h2 {
  margin-top: auto;
  margin-bottom: 20px;;
}
button {
  margin-left: 20px;
}